.login-page{
    .header{
        padding-top: 15px;
        .item{
            width: calc((100%)/4);
            text-align: center;
        }
    }
    .text-value{
        width: 100%;
        textarea{
            width: 100%;
            border: 1px solid #eee;
            height: 80px;
            border-radius: 5px;
            margin-top: 15px;
            padding: 10px;
            margin-bottom: 10px;
            color: rgba(109, 91, 91, 0.438);
        }
    }
    .action{
        width: 100%;
        text-align: center;
        .btn-action{
            margin-top: 20px;
            height: 80px;
            width: 80px;
            border-radius: 50%;
        }
        .text-note{
            margin-top: 10px;
            font-style: italic;
            color: rgba(109, 91, 91, 0.438);
        }
    }
    .player {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
        .controls {
          flex-grow: 1;
          margin: 0 20px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
      
        .player__button {
          width: fit-content;
          margin-bottom: 15px;
          background-color: transparent;
          border: none;
      
          &:focus {
            outline: none;
          }
          &:hover {
            cursor: pointer;
            svg {
              color: greenyellow;
            }
          }
      
          svg {
            font-size: 4em;
            color: #495057;
          }
        }
      
        .bar {
          user-select: none;
          width: 100%;
          display: flex;
          align-items: center;
      
          .bar__time {
            color: #495057;
            font-size: 16px;
          }
      
          .bar__progress {
            flex: 1;
            border-radius: 5px;
            margin: 0 20px;
            height: 10px;
            display: flex;
            align-items: center;
            cursor: pointer;
            background: #eee;
      
            .bar__progress__knob {
              position: relative;
              height: 16px;
              width: 16px;
              border: 1.5px solid #495057;
              border-radius: 50%;
              background-color: orange;
            }
          }
        }
      
        @media screen and (max-width: 800px) {
          flex-direction: column;
      
          .controls {
            width: 100%;
            margin-top: 20px;
          }
      
          .bar {
            width: 90%;
          }
        }
      
        @media screen and (max-width: 500px) {
          .song {
            .song__title {
              font-size: 2.5em;
            }
      
            .song__artist {
              font-size: 0.8em;
            }
          }
        }
      }
      
}